*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blu-background{
    background-color: #2C3E50;
}

.lightblu-background{
    background-color: #3A546D;
}

.green-backgroud{
   background-color: #1ABC9C;
}

.green-color{
    color: #1ABC9C;
}

.black{
    background-color: #2C3E50;
}

.color-balck{
    color: #2C3E50;
}

.white{
    background-color: #fff;
}

.uppercase{
    text-transform: uppercase;
}

.color-white{
    color: #fff;
}

.padding-bottom{
    padding-bottom: 50px;
}

input, textarea:focus{
    outline: none;
}

::placeholder{
    color: #2C3E50;
    opacity: 1;
}


.line-star{
    display: flex;
    margin-bottom: 15px;
}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
}

.line{
    width: 70px;
    height: 5px;
    margin: 10px;
    border-radius: 15px;
}

.none{
    display: none;
}


.fa-star{
    font-size: 1.5rem;
}

.grey-background{
    background-color: #2C3E50;
}

ul li{
    list-style-type: none;
}

li > a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

li:hover a{
    color: #fff;
}

img{
    width: 100%;
}

.container-small{
    max-width: 60%;
    margin: 0 auto;
}

.button{
    border-radius: 5px;
    padding: 5px 15px;
}

/* END UTILITIES */
/* ======= HEADER PART ======= */
.col-6-header-content{
    margin: 25px 0px;
}

.col-6-header-content > h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
}
/* phone */
.hamburger{
    color: #888888;
    display: flex;
    justify-content: flex-end;
}

.hamburger-content{
    border: 1px solid #888888;
    padding: 3px 8px;
    border-radius: 3px;
}
/* desktop*/
.tablet > li{
    margin: 0px 10px;
}


/* ======= MAIN PART ======= */
/* start bootstrap */
.col-12-content{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.img-container{
    margin: 10px 0px;
    width: 50%;
}

.col-12-content > h1{
    font-weight: 600;
}
/* portofolio */
.img-container-portofolio{
    width: 100%;
    margin: 10px;
    border-radius: round;
}

.img-container-portofolio > img{
    border-radius: 10px;
}

.col-12-content > h4{
    margin: 30px 0px;
    font-weight: 600;
}
/* about us */
.about-us{
    text-align: left;
}

.btn-download{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    margin: 25px;
}
/* contact me */
.contact-us{
    text-align: left;
}

.container-small > span{
    color: #425161;
    font-weight: 600;
    font-size: 1rem;
}

input[type=text], textarea {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px;
    width: 100%;
}

.send-form{
    background-color: #1ABC9C;
    border: none;
    color: #fff;
    margin: 20px 0px;
}
/*  ======= FOOTER PART ======= */

.col-12-content > h6{
    margin-top: 35px;
}

.circle{
    margin: 5px;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.fa-copyright{
    font-size: 0.8rem;
}

.copyright{
    margin: 40px;
}

@media screen and (min-width: 768px) {
    .hamburger{
        display: none;
    }

    .block{
        display: block;
    }
    
    .tablet{
        justify-content: flex-end;
    }

    .img-container{
        width: 25%;
    }

    .col-12-content > h4 {
        margin-bottom: 20px;
        margin-top: 40px;
        font-weight: 600;
        font-size: 2rem;
    }
    
    .col-12-content{
        text-align: center;
    }

    .container-small{
        max-width: 65%;
    }

}

@media screen and (min-width: 1200px) {
    .img-container{
        width: 15%;
    }

    .line{
        width: 120px;
        height: 3px;
    }

    .circle{
        padding: 5px;
    }
}

